{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Polls App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
</head>
<body>

<div class="row col-lg-8 col-lg-offset-2">

	<div class="header">
		<h1><a href="{% url 'index' %}">PollsApp</a></h1>
	</div>

		{% block conteudo %}
		{% endblock %}

</div>

<script type="text/javascript" src="{% static 'js/highlight_option.js' %}"></script>
</body>
</html>