{% extends 'base.html' %}

{% block conteudo %}

	<h3 class="title-question">{{questao.question_text}}</h3>


	<form method="post" action="{% url 'votar' questao.id %}">
	 	{% csrf_token %}

		<div class="list-group">

			{% for opcao in opcoes %}

				<li href="" class="list-group-item options-group">

					<label class="btn btn-primary option_item" for="{{opcao.id}}">
						<span class="glyphicon glyphicon-ok"></span> 
						<input type="radio" name="opcao" value="{{opcao.id}}" id="{{opcao.id}}">
					</label>

					<h4 class="option-text">{{opcao.choice_text}}</h4>
				</li>

			{% empty %}
				Não há opções ainda
				
			{% endfor %}

			<input type="submit" value="Votar" class="btn btn-success">

		</div>


	</form>

	<button class="btn btn-primary btn-result">Ver o Resultado</button>

	<div class="row col-lg-6">
		<div class="results">
			{% for opcao in opcoes %}

				<span>{{opcao.choice_text|capfirst}}</span><div class="progress">
	  				<div class="progress-bar" aria-valuemin="0" aria-valuemax="100" id="{{opcao.choice_text}}">
	  				</div>
				</div>

			{% endfor %}

		</div>
	</div>

{% endblock %}

{% block scripts%}
<script type="text/javascript">
	
	$.ajax({
		url:"/question/{{questao.id}}/results",
		success:function(data){
			for(var chave in data){
				porcentagem = data[chave]+"%";

				elemento = document.querySelector("#"+chave);
				elemento.style.width = porcentagem;
				elemento.textContent = parseFloat(data[chave]).toFixed(2)+"%";
			}
		}
	});

</script>
{% endblock %}