{% extends 'base.html' %}

{% block conteudo %}

	<h3 class="title-question">{{questao.question_text}}</h3>


	<form method="post">
	 	{% csrf_token %}

		<div class="list-group">

			{% for opcao in opcoes %}

				<li href="" class="list-group-item options-group">

					<label class="btn btn-primary option_item" for="{{opcao.id}}">
						<span class="glyphicon glyphicon-ok"></span> 
						<input type="radio" name="opcao" value="{{opcao.id}}" id="{{opcao.id}}">
					</label>

					<h4 class="option-text">{{opcao.choice_text}}</h4>
				</li>

			{% empty %}
				Não há opções ainda
				
			{% endfor %}

			<input type="submit" value="Votar" class="btn btn-success btn_vote">

		</div>


	</form>


	<div class="row col-lg-12">
		<button class="btn btn-primary btn-result pull-left">Ver o Resultado</button>

		<div class="results col-lg-5 pull-right">
			{% for opcao in opcoes %}

				<span>{{opcao.choice_text|capfirst}} - ({{opcao.votes}})</span>
				<div class="progress">
	  				<div class="progress-bar" aria-valuemin="0" aria-valuemax="100" id="{{opcao.choice_text}}">
	  				</div>
				</div>

			{% endfor %}

		</div>
	</div>

{% endblock %}

{% block scripts%}

<script type="text/javascript">
	
	$.ajax({
		url:"/question/{{questao.id}}/results",
		success:function(data){
			for(var chave in data){
				porcentagem = data[chave]+"%";

				elemento = document.querySelector("#"+chave);
				elemento.style.width = porcentagem;
				elemento.textContent = parseFloat(data[chave]).toFixed(1)+"%";
			}
		}
	});

	btn_vote = document.querySelector(".btn_vote");

	btn_vote.addEventListener("click",function(event){
		
		event.preventDefault();

		checkboxes = document.querySelectorAll("input[name='opcao']");

		marcados = Array.prototype.filter.call(checkboxes,function(item){
			return item.checked == true;
		});

		if(marcados.length > 0){
			valor_escolhido = marcados[0].value;

			$.ajax({
				url:"/question/{{questao.id}}/vote",
				type:"POST",
				data: {
					"opcao":valor_escolhido,
					csrfmiddlewaretoken: '{{ csrf_token }}'
				}
			}).done(function(data){
				console.log(data.ok)
				if(data.ok){
					
					iziToast.success({
						timeout:1500,
	    				title: 'Votado',
	    				message: 'Voto computado com sucesso!',
	    				position:"topRight"
					});

					setTimeout(function(){
						window.location = "{% url 'detalhar' questao.id %}";
					},3000)
				}
			});

		}else{

			iziToast.error({
				timeout:1500,
				title: 'Erro',
				message: 'Escolha ao menos 1 opção',
				position:"topRight"
			});

		}

	})
	

</script>
{% endblock %}