{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Polls App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/toast.css' %}">
</head>
<body>

<div class="container-fluid
				col-lg-8 col-lg-offset-2
				col-md-8 col-md-offset-2
				col-sm-10 col-sm-offset-1
				col-xs-10 col-xs-offset-1">

	<div class="header">
		<h1><a href="{% url 'index' %}">PollsApp</a></h1>
	</div>

		{% block conteudo %}
		{% endblock %}

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/toast.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highlight_option.js' %}"></script>

{% block scripts %}

{% endblock %}

</body>
</html>