{% extends 'base.html' %}

{% block conteudo %}
<div class="panel panel-primary">
	
	<div class="panel-heading">
		<p class="panel-title">Questões Abertas</p>
	</div>

	<div class="panel-body">
		<table class="table">

			{% if abertas.count > 0 %}
			<thead>
				<tr>
					<td><strong>Descrição</strong></td>
					<td><strong>Publicado em</strong></td>
					<td style="width:20%" class="text-center"><strong>Ações</strong></td>
				</tr>
			</thead>
			{% endif %}

			<tbody>

			{% for questao in abertas %}
				
				<tr>				
					<td>{{questao.question_text}}</td>
					<td>{{questao.pub_date|date:'d/m/Y'}}</td>
					<td class="options">
						<a href="{% url 'questao' questao.id %}" 
							class="btn btn-success btn-xs">Acessar</a>

						<a href="{% url 'administrar' questao.id %}" 
							class="btn btn-info btn-xs">Administrar</a>
					</td>
				</tr>

			{% empty %}
				<p class="panel-body">Não há questões</p>
			{% endfor %}

			</tbody>

		</table>
	</div>
</div>

<div class="panel panel-primary">
	
	<div class="panel-heading">
		<p class="panel-title">Questões Fechadas</p>
	</div>
	
	<div class="panel-body">
		{% if fechadas.count > 0 %}
		<table class="table">

			<thead>
				<tr>
					<td><strong>Descrição</strong></td>
					<td><strong>Publicado em</strong></td>
					<td style="width:20%"  class="text-center"><strong>Ações</strong></td>
				</tr>
			</thead>
		{% endif %}
			<tbody>

			{% for questao in fechadas %}
				
				<tr>				
					<td>{{questao.question_text}}</td>
					<td>{{questao.pub_date|date:'d/m/Y'}}</td>
					
					<td class="options">
						<a href="{% url 'questao' questao.id %}" 
							class="btn btn-success btn-xs">Acessar</a>

						<a href="{% url 'administrar' questao.id %}" 
							class="btn btn-info btn-xs">Administrar</a>
					</td>

				</tr>

			{% empty %}
			
				<p class="panel-body">Não há questões</p>
				
			{% endfor %}

			</tbody>

		</table>
	</div>
	
</div>

{% endblock %}