{% extends 'base.html' %}
{% load staticfiles %}

{% block conteudo %}

    <h3 class="title-question">
        {{questao.question_text}}

        {% if questao.closed %}
            <button class="btn btn-danger btn-xs" disabled="disabled">
                <span class="glyphicon glyphicon-ban-circle"></span>
                Fechada
            </button>
        {% else %}
            <button class="btn btn-success btn-xs" disabled="disabled">
                <span class="glyphicon glyphicon-ok"></span>
                Aberta
            </button>
        {% endif %}

    </h3>

        <form method="post">
            {% csrf_token %}

            <div class="list-group">

                {% for opcao in opcoes %}

                    <li class="list-group-item options-group">

                        <label class="btn btn-primary btn-sm option_item" for="{{opcao.id}}">
                            <span class="glyphicon glyphicon-ok"></span> 
                            <input type="radio" name="opcao" value="{{opcao.id}}" id="{{opcao.id}}">
                        </label>

                        <h4 class="option-text">{{opcao.choice_text}}</h4>
                    </li>

                {% empty %}

                    Não há opções ainda
                    
                {% endfor %}

                {% if not questao.closed and opcoes.count > 0 %}
                    <input type="submit" value="Votar" class="btn btn-success btn_vote">
                {% endif%}

            </div>


        </form>

    {% if opcoes.count > 0 and questao.closed %}
        <div class="row col-lg-12">
            <button class="btn btn-primary btn-result pull-left">Ver o Resultado</button>

            <div class="results col-lg-5 pull-right">
                {% for opcao in opcoes %}
                    {% with  nome=opcao.choice_text|lower|cut:' ' %}

                    <span>{{opcao.choice_text|capfirst}} - ({{opcao.votes}})</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" aria-valuemin="0" aria-valuemax="100" id="{{nome}}">
                        </div>
                    </div>
                    {% endwith %}

                {% endfor %}

            </div>

        </div>

    {% endif %}

{% endblock %}

{% block scripts %}

<script type="text/javascript" src="{% static 'js/show_results.js' %}"></script>

<script type="text/javascript">
    
    $.ajax({
        url:"{% url 'resultados' questao.id %}",
        success:function(data){

            for(var chave in data){
                porcentagem = data[chave]+"%";

                elemento = document.querySelector("#"+chave);
                elemento.style.width = porcentagem;
                elemento.textContent = parseFloat(data[chave]).toFixed(1)+"%";
            }
        }
    });

    btn_vote = document.querySelector(".btn_vote");

    if (btn_vote != null){
        
        btn_vote.addEventListener("click",function(event){
            
            event.preventDefault();

            existe_checkbox_marcado = document.querySelector("input[name='opcao']:checked");

            if( existe_checkbox_marcado != null ){

                opcao_escolhida = existe_checkbox_marcado.value;

                $.post({
                    url:"{% url 'votar' %}",
                    data:{
                        opcao:opcao_escolhida,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }   

                }).done(function(data){

                        iziToast.success({
                            timeout:1000,
                            title: 'Votado',
                            message: 'Voto computado com sucesso!',
                            position:"topRight"
                        });

                        setTimeout(function(){
                            window.location = "{% url 'questao' questao.id %}";
                        },2000)

                        
                }).fail(function(data){

                    iziToast.error({
                        timeout:1500,
                        title: 'Erro',
                        message: 'Ocorreu um erro. Tente novamente.',
                        position:"topRight"
                    });

                });

            }else{

                iziToast.error({
                    timeout:1500,
                    title: 'Erro',
                    message: 'Escolha 1 opção',
                    position:"topRight"
                });

            }

        })
    }
    

</script>

{% endblock %}